/*
COLORES:    #fff
            #F72F4E
            #140228
            #FAFAFA

*/

*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}